/* #box-1{
    height : 100px;
    width : 200px;
    background-color : green;
    font-size : 10px;
}
#box-2{
    height : 50px;
    width : 50px;
    background-color : yellow;
    margin: 0% 0% 0% 10%;
    font-size : 2em;
    width : 5rem;
    height : 7.5vh;
} */

/* div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;    
}
#box1 {
    position: static;
    background-color: green;
}
#box2 {
    position: relative;
    background-color: yellow;
    top:-20px;
    left:-50px;
    z-index: 1;
}
#box3 {
    position: absolute;
    background-color: blue;
    top: 150px;
    left: 150px;
}
#box4 {
    position: fixed;
    background-color: pink;
    top: 50px;
    z-index: 3;
} */
/* 
div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;    
}
#box1 {
    background-color: green;
    background-image: url("Cat-Image.jpg");
    background-size: cover;
}
#box2 {
    background-color: yellow;

}
#box3 {
    background-color: blue;
}
#box4 {
    background-color: pink;
} */
 div {
    height: 100px;
    width: 100px;
    background-image: url("Love-Nature-Image.jpg");
    background-size: cover;
    color: white;
    position: fixed;
    right: 0px;
    top: 150px;
 }
